
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2 class="container"style="font-weight:bold; color :orange" >Personel Yönetim Sistemine Hoşgeldin "@HttpContext.Current.User.Identity.Name"</h2>


